step-functions/visa/asl.json
{
  "Comment": "ITX Main Orchestrator - Pipeline completo (Transform + Extract + Clean + Calculate + Interchange + Store + Archive) - v7",
  "StartAt": "Transform",
  "States": {
    "Transform": {
      "Type": "Task",
      "Comment": "Ejecuta TODOS los transforms (BASEII + SMS + VSS) - Paso 1",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "itl-0004-itx-dev-intchg-02-lmbd-vi-transform",
        "Payload.$": "$"
      },
      "ResultPath": "$.transform_result",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "total_outputs.$": "$.Payload.total_outputs",
        "total_records.$": "$.Payload.total_records",
        "outputs.$": "$.Payload.outputs",
        "client_id.$": "$.Payload.client_id",
        "file_id.$": "$.Payload.file_id",
        "brand.$": "$.Payload.brand",
        "file_type.$": "$.Payload.file_type",
        "file_date.$": "$.Payload.file_date",
        "content_hash.$": "$.Payload.content_hash"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleTransformException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckTransformResult"
    },
    "CheckTransformResult": {
      "Type": "Choice",
      "Comment": "Verifica si Transform generó outputs válidos",
      "Choices": [
        {
          "Variable": "$.transform_result.status",
          "StringEquals": "ERROR",
          "Next": "TransformFailed"
        },
        {
          "Variable": "$.transform_result.total_outputs",
          "NumericEquals": 0,
          "Next": "NoDataToProcess"
        }
      ],
      "Default": "PrepareExtractInput"
    },
    "HandleTransformException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Transform lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "TRANSFORM",
        "message": "Transform phase threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.file_id",
        "client_id.$": "$.client_id",
        "brand.$": "$.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "TransformFailed": {
      "Type": "Pass",
      "Comment": "Transform retornó ERROR",
      "Parameters": {
        "status": "FAILED",
        "phase": "TRANSFORM",
        "message": "Transform phase returned ERROR status",
        "file_id.$": "$.transform_result.file_id",
        "client_id.$": "$.transform_result.client_id",
        "brand.$": "$.transform_result.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "NoDataToProcess": {
      "Type": "Pass",
      "Comment": "No se encontraron registros",
      "Parameters": {
        "status": "COMPLETED_NO_DATA",
        "message": "No matching records found in file",
        "file_id.$": "$.transform_result.file_id",
        "client_id.$": "$.transform_result.client_id",
        "brand.$": "$.transform_result.brand"
      },
      "ResultPath": "$.completion_info",
      "Next": "UpdateStatusNoData"
    },
    "PrepareExtractInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Lambda Extract",
      "Parameters": {
        "outputs.$": "$.transform_result.outputs",
        "client_id.$": "$.transform_result.client_id",
        "file_id.$": "$.transform_result.file_id",
        "brand.$": "$.transform_result.brand",
        "file_type.$": "$.transform_result.file_type",
        "file_date.$": "$.transform_result.file_date",
        "content_hash.$": "$.transform_result.content_hash"
      },
      "ResultPath": "$.extract_input",
      "Next": "Extract"
    },
    "Extract": {
      "Type": "Task",
      "Comment": "Extrae campos específicos de los Parquets - Paso 2",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "itl-0004-itx-dev-intchg-02-lmbd-vi-extract",
        "Payload.$": "$.extract_input"
      },
      "ResultPath": "$.extract_result",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "total_outputs.$": "$.Payload.total_outputs",
        "total_records.$": "$.Payload.total_records",
        "total_fields.$": "$.Payload.total_fields",
        "outputs.$": "$.Payload.outputs",
        "errors.$": "$.Payload.errors",
        "client_id.$": "$.Payload.client_id",
        "file_id.$": "$.Payload.file_id",
        "brand.$": "$.Payload.brand",
        "file_type.$": "$.Payload.file_type",
        "file_date.$": "$.Payload.file_date",
        "content_hash.$": "$.Payload.content_hash"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleExtractException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckExtractResult"
    },
    "CheckExtractResult": {
      "Type": "Choice",
      "Comment": "Verifica si Extract procesó correctamente",
      "Choices": [
        {
          "Variable": "$.extract_result.status",
          "StringEquals": "ERROR",
          "Next": "ExtractFailed"
        }
      ],
      "Default": "PrepareCleanInput"
    },
    "HandleExtractException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Extract lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "EXTRACT",
        "message": "Extract phase threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.extract_input.file_id",
        "client_id.$": "$.extract_input.client_id",
        "brand.$": "$.extract_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "ExtractFailed": {
      "Type": "Pass",
      "Comment": "Extract retornó ERROR",
      "Parameters": {
        "status": "FAILED",
        "phase": "EXTRACT",
        "message": "Extract phase returned ERROR status",
        "file_id.$": "$.extract_result.file_id",
        "client_id.$": "$.extract_result.client_id",
        "brand.$": "$.extract_result.brand",
        "errors.$": "$.extract_result.errors"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "PrepareCleanInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Lambda Clean",
      "Parameters": {
        "outputs.$": "$.extract_result.outputs",
        "client_id.$": "$.extract_result.client_id",
        "file_id.$": "$.extract_result.file_id",
        "brand.$": "$.extract_result.brand",
        "file_type.$": "$.extract_result.file_type",
        "file_date.$": "$.extract_result.file_date",
        "content_hash.$": "$.extract_result.content_hash"
      },
      "ResultPath": "$.clean_input",
      "Next": "Clean"
    },
    "Clean": {
      "Type": "Task",
      "Comment": "Limpia y convierte tipos de datos - Paso 3",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "itl-0004-itx-dev-intchg-02-lmbd-vi-clean",
        "Payload.$": "$.clean_input"
      },
      "ResultPath": "$.clean_result",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "total_outputs.$": "$.Payload.total_outputs",
        "total_records.$": "$.Payload.total_records",
        "total_fields_cleaned.$": "$.Payload.total_fields_cleaned",
        "outputs.$": "$.Payload.outputs",
        "errors.$": "$.Payload.errors",
        "client_id.$": "$.Payload.client_id",
        "file_id.$": "$.Payload.file_id",
        "brand.$": "$.Payload.brand",
        "file_type.$": "$.Payload.file_type",
        "file_date.$": "$.Payload.file_date",
        "content_hash.$": "$.Payload.content_hash"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleCleanException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckCleanResult"
    },
    "CheckCleanResult": {
      "Type": "Choice",
      "Comment": "Verifica si Clean procesó correctamente",
      "Choices": [
        {
          "Variable": "$.clean_result.status",
          "StringEquals": "ERROR",
          "Next": "CleanFailed"
        }
      ],
      "Default": "CleanSuccess"
    },
    "HandleCleanException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Clean lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "CLEAN",
        "message": "Clean phase threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.clean_input.file_id",
        "client_id.$": "$.clean_input.client_id",
        "brand.$": "$.clean_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "CleanFailed": {
      "Type": "Pass",
      "Comment": "Clean retornó ERROR",
      "Parameters": {
        "status": "FAILED",
        "phase": "CLEAN",
        "message": "Clean phase returned ERROR status",
        "file_id.$": "$.clean_result.file_id",
        "client_id.$": "$.clean_result.client_id",
        "brand.$": "$.clean_result.brand",
        "errors.$": "$.clean_result.errors"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "CleanSuccess": {
      "Type": "Pass",
      "Comment": "Clean exitoso - prepara para Calculate (Glue Job)",
      "Parameters": {
        "status": "CLEAN_COMPLETED",
        "message": "Clean phase completed successfully, proceeding to Calculate",
        "file_id.$": "$.clean_result.file_id",
        "client_id.$": "$.clean_result.client_id",
        "brand.$": "$.clean_result.brand",
        "file_type.$": "$.clean_result.file_type",
        "file_date.$": "$.clean_result.file_date",
        "content_hash.$": "$.clean_result.content_hash",
        "transform_summary": {
          "total_outputs.$": "$.transform_result.total_outputs",
          "total_records.$": "$.transform_result.total_records"
        },
        "extract_summary": {
          "total_outputs.$": "$.extract_result.total_outputs",
          "total_records.$": "$.extract_result.total_records",
          "total_fields.$": "$.extract_result.total_fields"
        },
        "clean_summary": {
          "total_outputs.$": "$.clean_result.total_outputs",
          "total_records.$": "$.clean_result.total_records",
          "total_fields_cleaned.$": "$.clean_result.total_fields_cleaned"
        },
        "transform_result_full.$": "$.transform_result",
        "extract_result_full.$": "$.extract_result",
        "clean_result_full.$": "$.clean_result"
      },
      "ResultPath": "$.success_info",
      "Next": "PrepareCalculateInput"
    },
    "PrepareCalculateInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Glue Job Calculate (PySpark)",
      "Parameters": {
        "outputs.$": "$.clean_result.outputs",
        "client_id.$": "$.clean_result.client_id",
        "file_id.$": "$.clean_result.file_id",
        "brand.$": "$.clean_result.brand",
        "file_type.$": "$.clean_result.file_type",
        "file_date.$": "$.clean_result.file_date",
        "content_hash.$": "$.clean_result.content_hash",
        "staging_bucket": "itl-0004-itx-dev-intchg-02-s3-staging",
        "reference_bucket": "itl-0004-itx-dev-intchg-02-s3-reference",
        "dynamodb_table_client": "itl-0004-itx-dev-dynamo-client-02"
      },
      "ResultPath": "$.calculate_input",
      "Next": "Calculate"
    },
    "Calculate": {
      "Type": "Task",
      "Comment": "Calcula campos adicionales - Paso 4 (Glue Job PySpark)",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "itl-0004-itx-dev-intchg-02-glue-vi-calculate",
        "Arguments": {
          "--outputs.$": "States.JsonToString($.calculate_input.outputs)",
          "--client_id.$": "$.calculate_input.client_id",
          "--file_id.$": "$.calculate_input.file_id",
          "--brand.$": "$.calculate_input.brand",
          "--file_type.$": "$.calculate_input.file_type",
          "--file_date.$": "$.calculate_input.file_date",
          "--content_hash.$": "$.calculate_input.content_hash",
          "--staging_bucket.$": "$.calculate_input.staging_bucket",
          "--reference_bucket.$": "$.calculate_input.reference_bucket",
          "--dynamodb_table_client.$": "$.calculate_input.dynamodb_table_client"
        }
      },
      "ResultPath": "$.calculate_job_result",
      "Retry": [
        {
          "ErrorEquals": ["Glue.AWSGlueException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5,
          "Comment": "Espera hasta 10 veces si Glue está ocupado con otro archivo"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleCalculateException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckCalculateResult"
    },
    "CheckCalculateResult": {
      "Type": "Choice",
      "Comment": "Verifica si Calculate (Glue) procesó correctamente",
      "Choices": [
        {
          "Variable": "$.calculate_job_result.JobRunState",
          "StringEquals": "FAILED",
          "Next": "CalculateFailed"
        },
        {
          "Variable": "$.calculate_job_result.JobRunState",
          "StringEquals": "STOPPED",
          "Next": "CalculateFailed"
        },
        {
          "Variable": "$.calculate_job_result.JobRunState",
          "StringEquals": "TIMEOUT",
          "Next": "CalculateFailed"
        }
      ],
      "Default": "CalculateSuccess"
    },
    "HandleCalculateException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Calculate lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "CALCULATE",
        "message": "Calculate phase (Glue Job) threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.calculate_input.file_id",
        "client_id.$": "$.calculate_input.client_id",
        "brand.$": "$.calculate_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "CalculateFailed": {
      "Type": "Pass",
      "Comment": "Calculate (Glue) falló",
      "Parameters": {
        "status": "FAILED",
        "phase": "CALCULATE",
        "message": "Calculate phase (Glue Job) failed",
        "job_run_state.$": "$.calculate_job_result.JobRunState",
        "error_message.$": "$.calculate_job_result.ErrorMessage",
        "file_id.$": "$.calculate_input.file_id",
        "client_id.$": "$.calculate_input.client_id",
        "brand.$": "$.calculate_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "CalculateSuccess": {
      "Type": "Pass",
      "Comment": "Calculate exitoso - consolida todos los resultados y prepara para Interchange",
      "Parameters": {
        "status": "CALCULATE_COMPLETED",
        "message": "Transform, Extract, Clean and Calculate phases completed successfully",
        "file_id.$": "$.calculate_input.file_id",
        "client_id.$": "$.calculate_input.client_id",
        "brand.$": "$.calculate_input.brand",
        "file_type.$": "$.calculate_input.file_type",
        "file_date.$": "$.calculate_input.file_date",
        "content_hash.$": "$.calculate_input.content_hash",
        "transform_summary.$": "$.success_info.transform_summary",
        "extract_summary.$": "$.success_info.extract_summary",
        "clean_summary.$": "$.success_info.clean_summary",
        "calculate_summary": {
          "job_run_id.$": "$.calculate_job_result.Id",
          "job_run_state.$": "$.calculate_job_result.JobRunState",
          "execution_time_seconds.$": "$.calculate_job_result.ExecutionTime",
          "workers.$": "$.calculate_job_result.NumberOfWorkers"
        },
        "transform_result_full.$": "$.success_info.transform_result_full",
        "extract_result_full.$": "$.success_info.extract_result_full",
        "clean_result_full.$": "$.success_info.clean_result_full",
        "cal_outputs.$": "$.calculate_input.outputs"
      },
      "ResultPath": "$.final_success_info",
      "Next": "WaitForENIRelease"
    },
    "WaitForENIRelease": {
      "Type": "Wait",
      "Comment": "Espera 3 minutos para que AWS libere las ENIs del job Calculate antes de lanzar Interchange",
      "Seconds": 180,
      "Next": "PrepareInterchangeInput"
    },
    "PrepareInterchangeInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Glue Job Interchange (PySpark)",
      "Parameters": {
        "outputs.$": "$.final_success_info.cal_outputs",
        "client_id.$": "$.final_success_info.client_id",
        "file_id.$": "$.final_success_info.file_id",
        "brand.$": "$.final_success_info.brand",
        "file_type.$": "$.final_success_info.file_type",
        "file_date.$": "$.final_success_info.file_date",
        "content_hash.$": "$.final_success_info.content_hash",
        "staging_bucket": "itl-0004-itx-dev-intchg-02-s3-staging",
        "reference_bucket": "itl-0004-itx-dev-intchg-02-s3-reference"
      },
      "ResultPath": "$.interchange_input",
      "Next": "Interchange"
    },
    "Interchange": {
      "Type": "Task",
      "Comment": "Asigna reglas de interchange y calcula tarifas - Paso 5 (Glue Job PySpark)",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "itl-0004-itx-dev-intchg-02-glue-vi-interchange",
        "Arguments": {
          "--outputs.$": "States.JsonToString($.interchange_input.outputs)",
          "--client_id.$": "$.interchange_input.client_id",
          "--file_id.$": "$.interchange_input.file_id",
          "--brand.$": "$.interchange_input.brand",
          "--file_type.$": "$.interchange_input.file_type",
          "--file_date.$": "$.interchange_input.file_date",
          "--content_hash.$": "$.interchange_input.content_hash",
          "--staging_bucket.$": "$.interchange_input.staging_bucket",
          "--reference_bucket.$": "$.interchange_input.reference_bucket"
        }
      },
      "ResultPath": "$.interchange_job_result",
      "Retry": [
        {
          "ErrorEquals": ["Glue.AWSGlueException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": ["Glue.ConcurrentRunsExceededException"],
          "IntervalSeconds": 60,
          "MaxAttempts": 10,
          "BackoffRate": 1.5,
          "Comment": "Espera hasta 10 veces si Glue está ocupado con otro archivo"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleInterchangeException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckInterchangeResult"
    },
    "CheckInterchangeResult": {
      "Type": "Choice",
      "Comment": "Verifica si Interchange (Glue) procesó correctamente",
      "Choices": [
        {
          "Variable": "$.interchange_job_result.JobRunState",
          "StringEquals": "FAILED",
          "Next": "InterchangeFailed"
        },
        {
          "Variable": "$.interchange_job_result.JobRunState",
          "StringEquals": "STOPPED",
          "Next": "InterchangeFailed"
        },
        {
          "Variable": "$.interchange_job_result.JobRunState",
          "StringEquals": "TIMEOUT",
          "Next": "InterchangeFailed"
        }
      ],
      "Default": "PrepareStoreInput"
    },
    "HandleInterchangeException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Interchange lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "INTERCHANGE",
        "message": "Interchange phase (Glue Job) threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.interchange_input.file_id",
        "client_id.$": "$.interchange_input.client_id",
        "brand.$": "$.interchange_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "InterchangeFailed": {
      "Type": "Pass",
      "Comment": "Interchange (Glue) falló",
      "Parameters": {
        "status": "FAILED",
        "phase": "INTERCHANGE",
        "message": "Interchange phase (Glue Job) failed",
        "job_run_state.$": "$.interchange_job_result.JobRunState",
        "error_message.$": "$.interchange_job_result.ErrorMessage",
        "file_id.$": "$.interchange_input.file_id",
        "client_id.$": "$.interchange_input.client_id",
        "brand.$": "$.interchange_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "PrepareStoreInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Lambda Store - usa outputs del clean (s3_keys de 300-CLN)",
      "Parameters": {
        "outputs.$": "$.interchange_input.outputs",
        "client_id.$": "$.interchange_input.client_id",
        "file_id.$": "$.interchange_input.file_id",
        "brand.$": "$.interchange_input.brand",
        "file_type.$": "$.interchange_input.file_type",
        "file_date.$": "$.interchange_input.file_date",
        "content_hash.$": "$.interchange_input.content_hash",
        "staging_bucket": "itl-0004-itx-dev-intchg-02-s3-staging",
        "operational_bucket": "itl-0004-itx-dev-intchg-02-s3-operational"
      },
      "ResultPath": "$.store_input",
      "Next": "Store"
    },
    "Store": {
      "Type": "Task",
      "Comment": "Consolida CLN + CAL + ITX en Parquet final en operational - Paso 6",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "itl-0004-itx-dev-intchg-02-lmbd-vi-store",
        "Payload.$": "$.store_input"
      },
      "ResultPath": "$.store_result",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "total_outputs.$": "$.Payload.total_outputs",
        "total_records.$": "$.Payload.total_records",
        "outputs.$": "$.Payload.outputs",
        "errors.$": "$.Payload.errors",
        "client_id.$": "$.Payload.client_id",
        "file_id.$": "$.Payload.file_id",
        "brand.$": "$.Payload.brand",
        "file_type.$": "$.Payload.file_type",
        "file_date.$": "$.Payload.file_date",
        "content_hash.$": "$.Payload.content_hash"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleStoreException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckStoreResult"
    },
    "CheckStoreResult": {
      "Type": "Choice",
      "Comment": "Verifica si Store procesó correctamente",
      "Choices": [
        {
          "Variable": "$.store_result.status",
          "StringEquals": "ERROR",
          "Next": "StoreFailed"
        }
      ],
      "Default": "UpdateStatusStoreCompleted"
    },
    "HandleStoreException": {
      "Type": "Pass",
      "Comment": "Normaliza el estado cuando Store lanza excepción",
      "Parameters": {
        "status": "FAILED",
        "phase": "STORE",
        "message": "Store phase threw an exception",
        "error.$": "$.error",
        "file_id.$": "$.store_input.file_id",
        "client_id.$": "$.store_input.client_id",
        "brand.$": "$.store_input.brand"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "StoreFailed": {
      "Type": "Pass",
      "Comment": "Store retornó ERROR",
      "Parameters": {
        "status": "FAILED",
        "phase": "STORE",
        "message": "Store phase returned ERROR status",
        "file_id.$": "$.store_result.file_id",
        "client_id.$": "$.store_result.client_id",
        "brand.$": "$.store_result.brand",
        "errors.$": "$.store_result.errors"
      },
      "ResultPath": "$.failure_info",
      "Next": "UpdateStatusFailed"
    },
    "UpdateStatusStoreCompleted": {
      "Type": "Task",
      "Comment": "Actualiza estado en DynamoDB a STORE_COMPLETED antes de archivar",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "itl-0004-itx-dev-dynamo-file_control-02",
        "Key": {
          "file_id": {
            "S.$": "$.store_result.file_id"
          }
        },
        "UpdateExpression": "SET control_status = :status, store_result = :store",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "STORE_COMPLETED"
          },
          ":store": {
            "S.$": "States.JsonToString($.store_result)"
          }
        }
      },
      "ResultPath": "$.dynamodb_result",
      "Next": "PrepareArchiveInput"
    },
    "PrepareArchiveInput": {
      "Type": "Pass",
      "Comment": "Prepara el payload para Lambda Archive - usa campos raíz preservados desde el input inicial",
      "Parameters": {
        "file_id.$": "$.file_id",
        "client_id.$": "$.client_id",
        "brand.$": "$.brand",
        "file_type.$": "$.file_type",
        "file_date.$": "$.file_date",
        "s3_key_landing.$": "$.s3_key_landing",
        "bucket_landing.$": "$.bucket_landing"
      },
      "ResultPath": "$.archive_input",
      "Next": "Archive"
    },
    "Archive": {
      "Type": "Task",
      "Comment": "Mueve el archivo original de landing a operational/originals - SIEMPRE se ejecuta",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "itl-0004-itx-dev-intchg-02-lmbd-archive-file",
        "Payload.$": "$.archive_input"
      },
      "ResultPath": "$.archive_result",
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "file_id.$": "$.Payload.file_id",
        "archive_key.$": "$.Payload.archive_key"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleArchiveException",
          "ResultPath": "$.error"
        }
      ],
      "Next": "UpdateStatusDone"
    },
    "HandleArchiveException": {
      "Type": "Pass",
      "Comment": "Archive falló — el pipeline ya terminó, solo registrar el error",
      "Parameters": {
        "status": "ARCHIVE_FAILED",
        "message": "Archive phase failed — file may still be in landing",
        "error.$": "$.error",
        "file_id.$": "$.file_id"
      },
      "ResultPath": "$.archive_error",
      "Next": "UpdateStatusDone"
    },
    "UpdateStatusDone": {
      "Type": "Task",
      "Comment": "Estado final del pipeline — DONE si todo OK, DONE_ARCHIVE_FAILED si archive falló",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "itl-0004-itx-dev-dynamo-file_control-02",
        "Key": {
          "file_id": {
            "S.$": "$.file_id"
          }
        },
        "UpdateExpression": "SET control_status = :status, process_finish_ts = :finish_ts, archive_key = :archive_key",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "DONE"
          },
          ":finish_ts": {
            "S.$": "$$.State.EnteredTime"
          },
          ":archive_key": {
            "S.$": "States.JsonToString($.archive_result)"
          }
        }
      },
      "ResultPath": "$.final_dynamodb_result",
      "End": true
    },
    "UpdateStatusNoData": {
      "Type": "Task",
      "Comment": "Actualiza estado en DynamoDB a COMPLETED_NO_DATA — luego archiva",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "itl-0004-itx-dev-dynamo-file_control-02",
        "Key": {
          "file_id": {
            "S.$": "$.completion_info.file_id"
          }
        },
        "UpdateExpression": "SET control_status = :status, process_finish_ts = :finish_ts, completion_info = :info",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "COMPLETED_NO_DATA"
          },
          ":finish_ts": {
            "S.$": "$$.State.EnteredTime"
          },
          ":info": {
            "S.$": "States.JsonToString($.completion_info)"
          }
        }
      },
      "ResultPath": "$.dynamodb_result",
      "Next": "PrepareArchiveInput"
    },
    "UpdateStatusFailed": {
      "Type": "Task",
      "Comment": "Actualiza estado en DynamoDB a FAILED — luego archiva siempre",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "itl-0004-itx-dev-dynamo-file_control-02",
        "Key": {
          "file_id": {
            "S.$": "$.failure_info.file_id"
          }
        },
        "UpdateExpression": "SET control_status = :status, process_finish_ts = :finish_ts, error_message = :error",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "FAILED"
          },
          ":finish_ts": {
            "S.$": "$$.State.EnteredTime"
          },
          ":error": {
            "S.$": "States.JsonToString($.failure_info)"
          }
        }
      },
      "ResultPath": "$.dynamodb_result",
      "Next": "PrepareArchiveInput"
    }
  }
}
